USE [MediaAppDB]
GO
/****** Object:  Table [dbo].[Albumes]    Script Date: 02/11/2025 07:48:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albumes](
	[AlbumID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Artista] [nvarchar](150) NULL,
	[Genero] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 02/11/2025 07:48:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[FavoritoID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[ReferenciaID] [int] NOT NULL,
	[FechaMarcado] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoritoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 02/11/2025 07:48:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[LibroID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Autor] [nvarchar](150) NULL,
	[Genero] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LibroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 02/11/2025 07:48:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[PeliculaID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Genero] [nvarchar](100) NULL,
	[Anio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PeliculaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 02/11/2025 07:48:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](255) NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albumes] ON 

INSERT [dbo].[Albumes] ([AlbumID], [Titulo], [Artista], [Genero]) VALUES (1, N'Thriller', N'Michael Jackson', N'Pop')
INSERT [dbo].[Albumes] ([AlbumID], [Titulo], [Artista], [Genero]) VALUES (2, N'Back in Black', N'AC/DC', N'Rock')
SET IDENTITY_INSERT [dbo].[Albumes] OFF
GO
SET IDENTITY_INSERT [dbo].[Favoritos] ON 

INSERT [dbo].[Favoritos] ([FavoritoID], [UsuarioID], [Tipo], [ReferenciaID], [FechaMarcado]) VALUES (1, 1, N'Pelicula', 2, CAST(N'2025-10-26T23:25:22.7079681' AS DateTime2))
INSERT [dbo].[Favoritos] ([FavoritoID], [UsuarioID], [Tipo], [ReferenciaID], [FechaMarcado]) VALUES (2, 1, N'Libro', 2, CAST(N'2025-10-26T23:25:22.7079681' AS DateTime2))
INSERT [dbo].[Favoritos] ([FavoritoID], [UsuarioID], [Tipo], [ReferenciaID], [FechaMarcado]) VALUES (3, 2, N'Album', 1, CAST(N'2025-10-26T23:25:22.7079681' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Favoritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

INSERT [dbo].[Libros] ([LibroID], [Titulo], [Autor], [Genero]) VALUES (1, N'Cien años de soledad', N'Gabriel García Márquez', N'Realismo mágico')
INSERT [dbo].[Libros] ([LibroID], [Titulo], [Autor], [Genero]) VALUES (2, N'Don Quijote de la Mancha', N'Miguel de Cervantes', N'Clásico')
SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([PeliculaID], [Titulo], [Genero], [Anio]) VALUES (1, N'Titanic', N'Romance', 1997)
INSERT [dbo].[Peliculas] ([PeliculaID], [Titulo], [Genero], [Anio]) VALUES (2, N'Inception', N'Ciencia Ficcion', 2010)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Avatar], [Contrasena], [Correo]) VALUES (1, N'Neftaly', N'avatar1.png', N'1234', N'sin_correo')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Avatar], [Contrasena], [Correo]) VALUES (2, N'Ana', N'avatar2.png', N'abcd', N'sin_correo')
INSERT [dbo].[Usuarios] ([UsuarioID], [Nombre], [Avatar], [Contrasena], [Correo]) VALUES (3, N'Usuario Prueba', N'default.png', N'1234', N'sin_correo')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Favoritos] ADD  DEFAULT (sysutcdatetime()) FOR [FechaMarcado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('sin_correo') FOR [Correo]
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD  CONSTRAINT [FK_Favoritos_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Favoritos] CHECK CONSTRAINT [FK_Favoritos_Usuarios]
GO
