<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=LAPTOP-8IR4100L\NET;
                           Database=MediaAppDB;
                           Trusted_Connection=True;
                           TrustServerCertificate=True;
                           MultipleActiveResultSets=True;
                           Connect Timeout=15" />
	</connectionStrings>
</configuration>
