<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=BALKIRIA\VSGESTION;
                         Database=MediaAppDB;
                         Trusted_Connection=True;
                         TrustServerCertificate=True;
                         MultipleActiveResultSets=True;
                         Connect Timeout=15"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
